<div class="border p-2 my-2">
  <form action="/dashboard/addplaylist" method="POST">
    <div class="mb-3">
      <label for="inputTitle" class="form-label">Title</label>
      <input placeholder="Title" type="text" class="form-control" id="inputTitle" name="title">
    </div>
    <button type="submit" class="btn btn-primary">Add Playlist</button>
  </form>
</div>
